<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>í™ˆí™”ë©´</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/csses/home/bootstrap.min.css" type="text/css" rel="stylesheet">

    <!-- Custom styles for this template -->
</head>

<style>
    #btn_chat{
        position:fixed;
        bottom: 10%;
        right: 3%;
        width: 10%;
        height: 18%;
        border-radius: 50%;
    }
</style>

<body>
    <main>
    <div id = "all_state" >
        <div class="container marketing">
            <hr class="featurette-divider">
            <div style="float: left; width: 50%;">
                <img src="/images/<%=myboard.result[0].board_image%>" width="500px" height="300px" />
                <div class="col-md-7">
                    <h2 class="featurette-heading fw-normal lh-1">
                        <span style="font-size: small;">ì¡°íšŒìˆ˜:<%=myboard.result[0].view_count%></span><br><br>
                        <%=myboard.result[0].board_title%> 
                    </h2>
                    <select id="select_board_state" onclick="checkUpdateBoardUser()">
                        <optgroup>
                            <option><%=myboard.result[0].board_state%></option>
                        </optgroup>
                    </select>
                    <input id="board_satate_value" type="hidden" value="<%=myboard.result[0].board_state%>">
                    <!--ì˜ˆì•½ì´ê±°ë‚˜ íŒë§¤ì™„ë£Œë©´ ë¹„í™œì„±í™” ì‹œí‚¤ê¸° ìœ„í•œ ê°’ ì €ìž¥ input-->
                    <p class="text-muted" style="font-size: 25px;">
                        <%=myboard.result[0].book_classification_name%>
                    </p>
                    <p class="text-muted" style="font-size: 20px;">
                        <% let price=myboard.result[0].price; price=Number(price).toLocaleString(); %>
                        <%=price+' ì›'%>
                    </p>
                    <hr>
                    <a id="a_mypage" style="text-decoration-line: underline; cursor: zoom-in; color: red;">
                        <p class="text-muted" style="font-size: 17px;">
                            <span>
                            <% if(myboard.result[0].user_profile) { %>
                                <img width="10%" height="10%"; src="/images/<%=myboard.result[0].user_profile%>">
                                <!-- í”„ë¡œíŒŒì¼ -->
                            <% } else { %>
                                <img style="width:10%; height:10%;" src="/images/profile.png">
                            <% } %> 
                            </span>
                            ë‹‰ë„¤ìž„ : <%=myboard.result[0].nickname%> <!--ë‹‰ë„¤ìž„ -->
                            <input id="input_state_check_nickname" type="hidden" value="<%=myboard.result[0].nickname%>"> <!-- í˜„ìž¬ ê²Œì‹œíŒ ìƒíƒœë¥¼ ë³€ê²½í• ë•Œ í•„ìš”í•œ ë‹‰ë„¤ìž„ì„ ë‹´ì€ inputíƒœê·¸-->
                        </p>
                    </a>
                    <p class="text-muted" style="font-size: 25px;">
                        <% let locals=myboard.result[0].user_address.split(' ');
                        locals = locals[0]+' '+locals[1]+' '+locals[2];
                     %>   
                     <%=locals%> <!-- ì£¼ì†Œ -->
                    </p>                      
                    <hr>
                    <p class="lead">
                        <%=myboard.result[0].board_contents%>
                    </p>
                </div>
                <hr>
                <form style="float: left; margin-right: 1%;" id="delete_board_form"  action="/v3/board/dormboard/<%=myboard.result[0].board_id%>?_method=DELETE" method="post">
                    <input id="board_id" type="hidden" value="<%=myboard.result[0].board_id%>" />
                    <input id="board_delete_token" name=token type="hidden" value="">
                    <button class="btn btn-outline-danger" id="btn_delete_board"  type="submit">ê²Œì‹œë¬¼ ì‚­ì œ</button>
                </form>
                <!-- ê²Œì‹œíŒ ìˆ˜ì •ì„ ìœ„í•œ Form íƒœê·¸ -->
                <form action="" id="update_board_form" method="post" style="float:left; margin-right: 1%;">
                    <button id="btn_board_update" type="button" class="btn btn-outline-success">ê²Œì‹œë¬¼ ìˆ˜ì •</button>
                    <input type="hidden" name="board_title" value="<%=myboard.result[0].board_title%>">
                    <input type="hidden" name="book_classification_name" value="<%=myboard.result[0].book_classification_name%>">
                    <input type="hidden" name="board_price" value="<%=myboard.result[0].price%>">
                    <input type="hidden" name="board_contents" value="<%=myboard.result[0].board_contents%>">
                    <input type="hidden" name="board_image" value="<%=myboard.result[0].board_image%>">
                    <input type="hidden" name="board_id" value="<%=myboard.result[0].board_id%>">
                </form>
                    <button type="button" class="btn btn-outline-success" onclick="location.href='/v2/home/0'">í™ˆìœ¼ë¡œ</button>
                <hr>
            </div>

            <div style="float: left; width: 50%;">
                <h4>Comment</h4>
                <form action="#" method="get">
                    <div style="text-align:center;">
                        <form id="comment_form">
                            <input type="text" id="input_comment_content" placeholder="ëŒ“ê¸€ì„ ìž‘ì„±í•´ì£¼ì„¸ìš”"
                                style="height:100px; width: 600px; text-align: center;" maxlength="50" required><br>
                            <button type="submit" id="btn_comment" class="btn btn-outline-primary" >ëŒ“ê¸€ìž‘ì„±ì™„ë£Œ</button>
                        </form>
                    </div>
                    <div>
                        <div id="comment_div" style="text-align:left;"></div> <!-- ëŒ“ê¸€ -->
                        <hr>
                        <div id="comment_page" style="text-align:center;"></div> <!-- ëŒ“ê¸€ íŽ˜ì´ì§•ì²˜ë¦¬ -->
                    </div>
                </form>
            </div>
        </div>

        <button class="btn btn-primary" id="btn_chat" onclick="let_chat()">ì±„íŒ…í•˜ê¸° ðŸ’¬</button>

        <input type="hidden" id="input_board_id" value="<%=myboard.result[0].board_id%>">
        <!--ê²Œì‹œíŒ ìƒíƒœë¥¼ ë³€ê²½í•˜ê¸°ìœ„í•´ ê²Œì‹œíŒ ì•„ì´ë””ë¥¼ inputì— ë³´ê´€í–ˆë‹¤ê°€ popup ì£¼ì†Œë¡œ ë³´ëƒ„-->

        <!-- ë§ˆì´íŽ˜ì´ì§€ ê°€ê¸°ìœ„í•œ form íƒœê·¸ -->
        <form style="display: none;" id="form_mypage" action="" method="post">
            <input id="input_nickname" type="text" value="<%=myboard.result[0].nickname%>">
        </form>
    </div>
    </main>
    <script  src="/javascripts/cookie.js" type="text/javascript"></script>
    <script src="/javascripts/fetch.js" type="text/javascript"></script>
    <script>
        /**tokenê°’*/
        let token = getCookie('x_auth');
    </script>
    <script type="text/javascript" src="/javascripts/board.js"></script>
</body>

</html>