<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>홈화면</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/csses/home/bootstrap.min.css" type="text/css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

        .nav-scroller .nav {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 1rem;
            margin-top: -1px;
            overflow-x: auto;
            text-align: center;
            white-space: nowrap;
            -webkit-overflow-scrolling: touch;
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/csses/carousel.css" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">전공책 싸게 사자</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" onclick="location.href='/v3/board-mypage'"
                                style="cursor: pointer;">MyPage</a>
                        </li>
                        <li class="nav-item" onclick="location.href='/v2/write'">
                            <a class="nav-link" style="cursor: pointer;">Write</a>
                        </li>
                        <li class="nav-item" onclick="location.href='/chat'">
                            <a class="nav-link" style="cursor: pointer;">나의대화</a>
                        </li>
                    </ul>
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
                <div>
                    <button class="btn btn-outline-success" type="submit"
                        onclick="location.href='/cookies/cookie-remove';">Sign
                        out</button>
                </div>
            </div>
        </nav>
    </header>

    <main>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <rect width="100%" height="100%" fill="#777" />
                    </svg> -->
                    <img src="https://pixabay.com/get/ge18e6d44fd9303761cb1d98c325e4de9a3b25893dc866e3589f6134b37c51d946aaf077295bdd6d1f7b1c9ad50cfa53362144b7ec7520d5ed0804edeff15f9b9e2d65a83bf248a055afaf8e1e5a0cafa_640.jpg"
                        width="100%" height="100%" />
                </div>
                <div class="carousel-item">
                    <img src="https://pixabay.com/get/g8b661d4c2304baddb5e481923f14726bee764ee1024050e4330292272baf46a12f195ed26f2965726fbe5893860aa0cec6d48aebe4012c2185dcb1d75de1933ef632aee6ffc4f35fe347849efcb9823f_640.jpg"
                        width="100%" height="100%" />
                </div>
                <div class="carousel-item">
                    <img src="https://pixabay.com/get/gdf9eb2cec7b2ef5a1457fca45640e7169eeecdeecb0770b8e4d380dfa81dc342acec0e5b82d88152cee0f02e321f72d21dbac48e5bc0d6fd2d59909cd68de9908dc0208d0f409e023b1babace25ff8a4_640.jpg"
                        width="100%" height="100%" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Marketing messaging and featurettes
    ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        <div class="container marketing">
            <!-- START THE FEATURETTES -->
            <hr class="featurette-divider">
            <% for (var i=0; i < board.page.length; i++){ %>
                <div class="row featurette" onclick="location.href='/v2/board/page/<%=board.page[i].board_id%>'">
                    <div class="col-md-7">
                        <h2 class="featurette-heading fw-normal lh-1">
                            <%=board.page[i].board_title%> <span class="text-muted">
                                    <%=board.page[i].book_classification_id%>
                                </span>
                        </h2>
                        <p class="lead">
                            <% let price=board.page[0].price; price=Number(price).toLocaleString(); %>
                                <%=price+' 원'%>
                        </p>
                    </div>
                    <div class="col-md-5">
                        <img src="/images/board/<%=board.page[i].board_image%>" width="500" height="500" />
                    </div>
                    <input type="hidden" id="board_id" value=<%=board.page[i].board_id%>>
                </div>
                <hr class="featurette-divider">
                <% } %>
                <h4><%=current_page.current_page%></h4>
                <h4><%=page_sum.page_sum%></h4>
                    <!-- /END THE FEATURETTES -->
        </div><!-- /.container -->
        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; 2017–2022 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>
    <script src="/javascripts/home/bootstrap.bundle.min.js"></script>
</body>

</html>