<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.104.2">
    <title>홈화면</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/carousel/">
    <link href="/csses/home/bootstrap.min.css" type="text/css" rel="stylesheet">
     <!-- Custom styles for this template -->
    <link href="/csses/carousel.css" rel="stylesheet">
    <script type="text/javascript">
        window.history.forward();
        function noBack(){window.history.forward();}
    </script>
</head>

<body onload="noBack();" onpageshow="if(event.persisted) noBack();" onunload="">
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/v2/home/0">전공책 싸게 사자</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/v2/home/0">홈으로</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="mypage"
                                style="cursor: pointer;">마이페이지</a>
                        </li>
                        <li id="write" class="nav-item">
                            <a class="nav-link" style="cursor: pointer;">게시판 작성</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <button id="btn_signout" class="btn btn-outline-danger" type="submit"
                        onclick="location.href='/cookies/cookie-remove';">로그아웃</button>
                    <button id="btn_signin" class="btn btn-outline-success" type="submit"
                        onclick="location.href='/v2/login';">로그인</button>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <hr>
        <div class="container marketing" style="margin-top:2%;">
            <div style="text-align: center;">
                <!-- 검색기능 -->
                <form action="/v2/home/0?_method=get" method="post" class="d-flex" role="search" style="margin-left: 30%;margin-right: 20%; width: 40%;">
                    <!-- 현재 게시판 상태를 저장해주는 input -->
                    <input name="board_state" id="board_state" type="hidden" value="<%=board_state%>">

                    <div class="input-group mb-3">
                        <select id="select_option" name="select_option" class="form-select" aria-label="Default select example" style="width: 1%;">
                            <option value="제목">제목</option>
                            <option value="종류">종류</option>
                            <option value="닉네임">닉네임</option>
                        </select>
                        <input id="input_select_option" type="hidden" value="<%=select_option%>">
                        <input name="search" value="<%=search%>" type="text" class="form-control" aria-label="Text input with dropdown button" style="width: 50%;" required>
                    </div>  
                    <button style="width: auto; height: 1%;" class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <p>"<%=search%>" 로 검색하셨습니다.</p>
            </div>
            <div id="btn_group" style="margin-left: 39%;">
                <button type="button" class="btn btn-primary" id="btn_all"
                    value="전체" onclick="btn_board_state(this)">전체</button>
                <button type="button" class="btn btn-primary" id="btn_sell"
                    onclick="btn_board_state(this)" value="판매">판매중</button>
                <button type="button" class="btn btn-primary" id="btn_reservation" onclick="btn_board_state(this)"
                        value="예약">예약중</button>
                <button type="button" class="btn btn-primary" id="btn_soldout" onclick="btn_board_state(this)" value="판매완료">판매완료</button>
            </div>
            <br>
            <!-- 네비게이션 -->
            <% if(board.result.length != 0){ %>
            <div style="text-align: center;">
                <!-- << -->
                <%if(page.prevPage==true){%>
                    <button class="btn btn-outline-secondary"
                        onclick="location.href='/v2/home/<%=Math.max(Number(page.current_page)-1,0)%>?board_state=<%=board_state%>&&select_option=<%=select_option%>'+
                        '&&search=<%=search%>'">
                        < 이전 </button>
                <%}%>
                <!-- [1 2 3 4 5] -->
                <%for(var i=page.start_page; i < page.end_page; i++) { 
                    if(page.current_page==i){%>
                    <button class="btn btn-outline-primary" style="color:red"
                        onclick="location.href='/v2/home/<%=i%>?board_state=<%=board_state%>&&select_option=<%=select_option%>'+
                        '&&search=<%=search%>'">
                        <%=i+1%>
                    </button>
                    <%} else {%>
                    <button class="btn btn-outline-primary" onclick="location.href='/v2/home/<%=i%>?board_state=<%=board_state%>&&'+
                    'select_option=<%=select_option%>&&search=<%=search%>'">
                        <%=i+1%>
                    </button>
                    <%} }%>
                            <!-- >> -->
                    <%if(page.nexPage==true){%>
                        <button class="btn btn-outline-secondary"
                        onclick="location.href='/v2/home/<%=Math.min(Number(page.current_page)+1,page.total_page-1)%>?board_state=<%=board_state%>&&select_option=<%=select_option%>'+
                        '&&search=<%=search%>'">다음 ></button>
                    <%}%>
                       <!-- /페이징 처리 -->
            </div>
            <% } %>
            <!-- 게시판글 목록 시작 -->
        <div style="text-align: center;">
        <% if(board.result.length != 0){ %>
        <div style="width: 100%; height: 10%; text-align: center;">
            <hr>
            <% for (var i=0; i < board.result.length; i++){ 
                if (board.result[i].board_state == "예약" || board.result[i].board_state == "판매완료") {    
            %>
                <div style="position:relative; opacity: 0.6;" id="board_state_div" class="row featurette" onclick="location.href='/v3/board/page/<%=board.result[i].board_id%>'">
                <h2 style="position:absolute; top: 45%; left: 30%; color: violet;"><%=board.result[i].board_state%></h2>
            <%} else {%>
                <div  id="board_state_div" class="row featurette" onclick="location.href='/v3/board/page/<%=board.result[i].board_id%>'">
            <%}%>
                    <div class="col-md-7" style="width: 500px; height: 300px; text-align: center; margin-top: -5%;">
                        <h3 class="featurette-heading fw-normal lh-1" style="font-size: 30px;">
                            <span style="font-size: small;">조회수:<%=board.result[i].view_count%></span><br><br>
                            <%=board.result[i].board_title%> <!-- 조회수 -->
                                <span class="text-muted" style="font-size: 15px;">
                                    <%=board.result[i].book_classification_name%> <!-- 책종류 -->
                                </span><br>
                                <span class="lead" style="font-size: 15px;">
                                    <% let price=board.result[0].price; price=Number(price.toLocaleString()); %>
                                        <!-- 가격 숫자로 변환(, 찍어줄려고 한 모양) -->
                                        <%=price+' 원'%> <!-- 가격 -->
                                </span>
                                <hr>
                                <span class="lead" style="font-size: 18px;">
                                    <% if(board.result[i].user_profile) { %>
                                        <img width="80px" height="60px"; src="/images/board/<%=board.result[i].user_profile%>">
                                        <!-- 프로파일 -->
                                    <% } else { %>
                                        <img style="width: 80px; height:60px;" src="/images/profile.png">
                                    <% } %> 
                                    닉네임 : <%=board.result[i].nickname%><!-- 닉네임 -->
                                </span><br>
                                <span class="text-muted" style="font-size: 15px;">
                                    <% let locals=board.result[i].user_address.split(' ');
                                       locals = locals[0]+' '+locals[1]+' '+locals[2];
                                    %>   
                                    <%=locals%> <!-- 주소 -->
                                </span>
                        </h3>
                    </div>
                    <div class="col-md-5" style="text-align: right;">
                        <img src="/images/board/<%=board.result[i].board_image%>" style="width: 500px; height: 300px; margin-right: -40%; margin-top: 10%;"/>
                    </div>
                    <input type="hidden" id="board_id" value=<%=board.result[i].board_id%>>
                </div>
                <hr class="featurette-divider">
            <% } %>
        </div>
        </div><!-- /.container -->
        <% } else { %>
            <hr>
            <h4>해당 데이터가 없습니다.</h4>
        <% } %>
        </div>
        <form id="token_form" action="" style="display: none;"  method="post">
            <input type="hidden" id="input_token" name="token" value="">
        </form>
    </main>
    <script src="/javascripts/fetch.js" type="text/javascript"></script>
    <script src="/javascripts/cookie.js" type="text/javascript"></script>
    <script>
        /**token값*/
        let token = getCookie('x_auth');
    </script>
    <script type="text/javascript" src="/javascripts/home.js"></script>
    <script src="/javascripts/home/bootstrap.bundle.min.js"></script>
</body>

</html>